.App {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .App {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .exercise {
    border-right: none !important;
    border-bottom: solid 1px rgb(171, 171, 171, 0.2);
  }
}

.exercise {
  margin: 15px;
  padding: 10px;
  border-right: solid 1px rgb(171, 171, 171, 0.2);
}

.exercise > h1 {
  font-size: 30px;
  color: rgb(93, 167, 231);
}

button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}

button:hover {
  background-color: rgb(93, 167, 231);
}
